<footer>
    <section>
        <div>
            <h5>sobre nosotros</h5>
            <ul> 
                <li> <a href="">¿quienes somos?</a> </li>  
                <li> <a href="">nuestra historia</a> </li> 
                <li> <a href="">nuestra información</a> </li>  
            </ul>
        </div>

        <div>
            <h5>categorías destacadas</h5>
            <ul> 
            <li> <a href="">profesionales de la salud</a> </li> 
            <li> <a href="">protección e higiene</a> </li> 
            <li> <a href="">control y prevención</a> </li> 
            <li> <a href="">movilidad</a> </li>
            <li> <a href="">independencia y cuidado en el hogar</a> </li> 
            <li> <a href="">terapia respiratoria</a> </li> 
            <li> <a href="">confort</a> </li> 
            </ul>
        </div>

        <div>
            <h5>servicio al cliente</h5>
            <ul> 
            <li> <a href="">política de entregas</a> </li>
            <li> <a href="">política de devoluciones</a> </li> 
            <li> <a href="">política de garantías</a> </li> 
            <li> <a href="">política de cancelación</a> </li> 
            <li> <a href="">whatsapp 123 123 3434</a> </li> 
            <li> <a href="">pbx 01 8000 123345</a> </li> 
            <li> <a href="">e-mail: info@impormedical.com</a> </li> 
            </ul>
        </div>

        <div class="newsletter-section">

            <h5>suscríbase a nuestro newsletter</h5>

            <form action="GET">
                <input type="email"> <br>
                <input type="checkbox" id="acept">
                <label for="acept">acepta terminos y condiciones de manejo de datos
                </label> <br>
                <button type="submit">subcribirme</button>
            </form>
            <h6>nuestros metódos de pago</h6>
            <div>
                <p>ESPACIO PARA LOGOS</p>
            </div>
        </div>

    </section>
    <div class="developedby-section">
        <h6>Desarrollado por</h6>
        <div>
            <p>ESPACIO PARA LOGOS</p>
        </div>
    </div>
</footer>