<header>
  <div class="top-header-container">
    <a href=""><h1 aria-label="Logo Importmedical"><img src="/images/logo-importmedical.jpg" alt="Importmedical Logo" class="logo-importmedical"></h1></a>
    <div class="search-bar"> 
      <form action="GET">
        <input type="search" class="bar" placeholder="¿QUÉ ESTÁS BUSCANDO? ESCRÍBELO AQUÍ">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="loggin-cart-buttons">
      <ul>
        <li><a href="">mis pedidos</a></li>
        <li>hola aliad@ 
        <a href="">ingresa</a></li>
        <li><a href=""><i class="fas fa-shopping-cart"></i>carrito</a></li>
      </ul>
    </div>
  </div> 
  <div class="bottom-header-container">
    <nav>
      <ul>
        <li><a href=""><i class="fas fa-bars"></i></a></li>
        <li><a href=""><i class="fas fa-wheelchair"></i>  movilidad</a></li>
        <li><a href=""><i class="far fa-heart"></i>  cuidado en el hogar</a></li>
        <li><a href=""><i class="fas fa-user-md"></i>  profesionales de la salud</a></li>
        <li><a href=""><i class="fas fa-hand-holding-heart"></i>  tapabocas y desinfección</a></li>
      </ul>
    </nav>
  </div>  
    
  </header>