
    <footer>

        <section>
            <div>
                <h2>sobre nosotros</h2>
                <ul> <li> <a href="">¿quienes somos?</a> </li>  </ul>
                <ul> <li> <a href="">nuestra historia</a> </li>  </ul>
                <ul> <li> <a href="">nuestra información</a> </li>  </ul>
            </div>

            <div>
                <h2>categorías destacadas</h2>
                <ul> <li> <a href="">profesionales de la salud</a> </li> </ul>
                <ul> <li> <a href="">protección e higiene</a> </li> </ul>
                <ul> <li> <a href="">control y prevención</a> </li> </ul>
                <ul> <li> <a href="">movilidad</a> </li> </ul>
                <ul> <li> <a href="">independencia y cuidado en el hogar</a> </li> </ul>
                <ul> <li> <a href="">terapia respiratoria</a> </li> </ul>
                <ul> <li> <a href="">confort</a> </li> </ul>
            </div>

            <div>
                <h2>servicio al cliente</h2>
                <ul> <li> <a href="">política de entregas</a> </li> </ul>
                <ul> <li> <a href="">política de devoluciones</a> </li> </ul>
                <ul> <li> <a href="">política de garantías</a> </li> </ul>
                <ul> <li> <a href="">política de cancelación</a> </li> </ul>
                <ul> <li> <a href="">whatsapp 123 123 3434</a> </li> </ul>
                <ul> <li> <a href="">pbx 01 8000 123345</a> </li> </ul>
                <ul> <li> <a href="">e-mail: info@impormedical.com</a> </li> </ul>
            </div>

            <div>

                <h2>suscríbase a nuestro newsletter</h2>

                <nav>
                    <label for="">
                        <input type="email">
                    </label>
                </nav>

                <p>aceptación de términos y condiciones de manejo de datos</p>

                <p>nuestros metódos de pago</p>
            </div>
        </section>

    </footer>
