<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <main>
      <%- include("./partials/header.ejs") %>
        <section class="principal-banner">
          <h2><span>más</span> de
            800 mil 
            familias 
            habilitadas</h2>
          <a href=""><button>ver productos</button></a>
        </section>
        <section class="categories-container">
          <div class="category-container" >
            <a href="">
                <img src="/images/ayuda-baño.jpeg" alt="">
                <h4>seguridad en el baño</h4>
            </a>
          </div>
          <div class="category-container" >
            <a href="">
                <img src="/images/tapabocas.jpeg" alt="">
                <h4>tapabocas</h4>
            </a>
          </div>
          <div class="category-container" >
            <a href="">
                <img src="/images/silla-de-ruedas.jpeg" alt="">
                <h4>sillas de ruedas</h4>
            </a>
          </div>
          <div class="category-container" >
            <a href="">
                <img src="/images/caminador.jpeg" alt="">
                <h4>ayudas para la marcha</h4>
            </a>
          </div>
        </section>

        
      <%- include("./partials/footer.ejs") %>
    </main>
  </body>
</html>
