<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        <div>
            <h2>más de 800 mil familias habilitadas</h2>
        </div>
        <div>
            <button> <a href="#">ver productos</a> </button>
        </div>
    </section>

    <section>
        <div>
            <a href="">
                <img src="" alt="">
                <h4>seguridad en el baño</h4>
            </a>
        </div>
        <div>
            <a href="">
                <img src="" alt="">
                <h4>tapabocas</h4>
            </a>
        </div>
        <div>
            <a href="">
                <img src="" alt="">
                <h4>sillas de ruedas</h4>
            </a>
        </div>
        <div>
            <a href="">
                <img src="" alt="">
                <h4>ayudas para la marcha</h4>
            </a>
        </div>
    </section>

    <section>

        <h2>nueva colección</h2>

        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>

        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>
        
        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>

        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada en aluminio konfort plus</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>

    </section>

    <section>

        <div>
            <a href="">
                <h3>¿porqué elegirnos</h3>
                <button>conoce más de nosotros</button>
            </a>
        </div>

        <div>
            <a href="">
                <h3>tienda surtida</h3>
                <button>ver más</button>
            </a>
        </div>

        <div>
            <a href="">
                <h3>usuario interesado</h3>
                <button>ver más</button>
            </a>
        </div>

        <div>
            <a href="">
                <h3>servicio integral</h3>
                <button>ver más</button>
            </a>
        </div>

        <div>
            <a href="">
                <h3>gente informada</h3>
                <button>ver más</button>
            </a>
        </div>
    </section>

    <section>

        <div>
            <h4>sillas de ruedas</h4>
            <h4>terapia en el hogar</h4>
            <h4>movilidad</h4>
        </div>

        <div>
            <h2>sillas de ruedas</h2>
            <a href="">
                <img src="" alt="">
                <p>silla de ruedas motorizada gris metalizada abatible</p>
                <p>$1.110.000</p>
                <p>$1.110.000</p>
            </a>
            <button>añadir al carrito</button>

            <a href="">
                <img src="" alt="">
                <p>silla de ruedas motorizada gris metalizada abatible</p>
                <p>$1.110.000</p>
                <p>$1.110.000</p>
            </a>
            <button>añadir al carrito</button>


            <a href="">
                <img src="" alt="">
                <p>silla de ruedas motorizada gris metalizada abatible</p>
                <p>$1.110.000</p>
                <p>$1.110.000</p>
            </a>
            <button>añadir al carrito</button>

            <a href="">
                <img src="" alt="">
                <p>silla de ruedas motorizada en aluminio konfort plus</p>
                <p>$1.110.000</p>
                <p>$1.110.000</p>
            </a>
            <button>añadir al carrito</button>
        </div>

    </section>

    <section>
        <div>
            <img src="" alt="">
            <h2>empresas en crecimiento</h2>
            <a href="">
                <button>ver productos</button>
            </a>
        </div>
        <div>
            <img src="" alt="">
            <h2>complemento línea de oximetría</h2>
            <a href="">
                <button>ver productos</button>
            </a>
        </div>
    </section>

    <section>
        <h2>ayudas para la marcha</h2>
        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>

        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>
        
        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>

        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada en aluminio konfort plus</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>
    </section>

    <section>
        <h2>terapia respiratorias</h2>
        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>

        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>
        
        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada gris metalizada abatible m2000</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>

        <a href="">
            <img src="" alt="">
            <p>silla de ruedas motorizada en aluminio konfort plus</p>
        </a>

        <a href="">
            <button>añadir al carrito</button>
        </a>
    </section>

    <!--lista desplegable-->
    <section>
        <div>
            <ul> <li> <a href="">llámanos</a> </li> </ul>
            <ul> <li> <a href="">comunicate por whatsapp</a> </li> </ul>
            <ul> <li> <a href="">chatea con nosotros</a> </li> </ul>
        </div>
    </section>
</body>
</html>